.marvel {
  background-color: #5cb85c;
}

.dc {
  background-color: #428bca;
}

.independent {
  background-color: #5bc0de;
}

.picture img {
  width: 300px;
}

.btn {
  background: #fa0000;
  background-image: linear-gradient(to bottom, #fa0000, #b83b2b);
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 12px;
  border: solid #110af5 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.newHero {
    margin-left: 10px;
}
