<!doctype html>
<html lang="en" data-ng-app="phonebook">
<head>
  <meta charset="utf-8">
  <title>Superhero Phonebook</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/data.js"></script>
  <script src="js/script.js"></script>
</head>
<body data-ng-controller="phonebookController as vm">
  <h1>Superheroes</h1>
  <div class="picture">
      <img data-ng-src="{{vm.pic}}" />
  </div>
  <div class="search">
      <input type="text" class="form-control" placeholder="Search" data-ng-model="vm.filter_on" />
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Number:</th>
        <th>Affiliation:</th>
        <th>Image:</th>
      </tr>
    </thead>
    <tbody>
        <tr class="{{hero.group | lowercase}}" data-ng-repeat="hero in vm.data | filter: vm.filter_on">
            <td>{{hero.name}}</td>
            <td>{{hero.number}}</td>
            <td>{{hero.group}}</td>
            <td><button class="btn" data-ng-click="vm.pic = hero.img">Reveal!</button></td>
        </tr>
        <tr>
            <form data-ng-submit="vm.addHero(newname, newnumber, newgroup, newimg)">
                <td><input type="text" data-ng-model="newname"  /></td>
                <td><input type="text" data-ng-model="newnumber"  /></td>
                <td><input type="text" data-ng-model="newgroup"  /></td>
                <td><input type="text" data-ng-model="newimg"  /></td>
        </tr>
    </tbody>
  </table>
  <button class="btn newHero" type="submit" >Add Hero!</button>
              </form>
</body>
</html>
